.navbar__input {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    input {
        width: 500px;
        height: 30px;
        padding: 0 1rem;
        border-radius: 5px 0 0 5px;
        outline: none;
        border: none;
    }   
}

.navinput__buscar {
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 4.5px 10px;
    margin: 0 1px;
    border-radius: 0 5px 5px 0;
    img {
        width: 18px;
    }
}