.navbar__input {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    input {
        width: 600px;
        height: 30px;
        padding: 0 .2rem;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(89, 89, 89);
        font-size: 1.05rem;
        font-weight: 100;
    }   
}

.navinput__buscar {
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 4.5px 10px;
    margin: 0 1px;
    img {
        width: 18px;
    }
}

@media (max-width: 800px) {
    .navbar__input {
        input {
            width: 400px;
        }
    }
}

@media (max-width: 550px) {
    .navbar__input {
        input {
            width: 300px;
        }
    }
}

@media (max-width: 450px) {
    .navbar__input {
        input {
            width: 200px;
        }
    }
}

@media (max-width: 320px) {
    .navbar__input {
        input {
            width: 150px;
        }
    }
} 