.itemcount__conteiner {
    display: flex;
    margin: 1rem 0;
}

.itemcount {
    button {
        padding: .2rem 1rem;
        margin: 0 .5rem;
        font-size: 1.4rem;
        border: none;
        background-color: rgb(60, 101, 67);
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }
    span {
        margin: 0 .3rem;
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.itemcount__agregar {
    border: none;
    background-color: rgb(80, 73, 119);
    color: white;
    padding: .2rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 400px) {
    .itemcount__conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .itemcount {
        button {
            margin: .4rem 0;
        }
    }
}